.main {
    background-color: #1d2b3a;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    gap: 50px;
}

.btn1 {
    height: 50px;
    width : 150px;
    border: none;
    color: #42FBF2;
    border-radius: 4px;
    transition: ease-out 0.3s;
    outline: none;
    border: 3px solid #42FBF2;
    position: relative;
    z-index: 1;
}

.btn1:hover {
  color: #1d2b3a;
  cursor: pointer;
}

.btn1:before{
  transition: 0.5s all ease;
  position: absolute;
  top: 0;
  left: 50%;
  right: 50%;
  bottom: 0;
  opacity: 0;
  content: "";
  background-color: #42FBF2;
}

.btn1:hover:before {
  transition: 0.5s all ease;
  left: 0;
  right: 0;
  opacity: 1;
  z-index: -1;
}

.div1 {
    background-color: #1d2b3a;
    width: 400px;
    height: 30px;
    margin-top: 30px;
    margin-left: 60px;
    box-shadow: 3px 3px 5px #06c4b8;
}

.label1 {
    padding-top: 13px;
    padding-left: 20px;
    justify-content: center;
    color: #06c4b8;
}

.input1 {
    border-radius: 10px;
    color: #06c4b8;
    background-color: #1d2b3a;
    box-shadow: 3px 3px 5px #06c4b8;
}

.div2 {
    box-shadow: 3px 3px 5px #06c4b8;
    background-color: #1d2b3a;
    width: 350px;
    height: 30px;
    margin-bottom: auto;
    margin-right: auto;
    margin-left: 10px;
}

.label2 {
    border-radius: 50px;
    padding-top: 13px;
    padding-left: 20px;
    justify-content: center;
    color: #06c6b9;
}

.select {
    margin-top: 2px;
    height: 25px;
    border-radius: 100px;
    background-color: #06c6b9;
    color: #044743;
}



.text {
    font-weight: 300;
  }
  
  #form__container {
    width: 90%;
    max-width: 600px;
    border-radius: 10px;
    background-color: #262625;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  #lobby__form {
    padding: 2em;
  }
  
  #form__container__header {
    border-radius: 10px 10px 0 0;
    padding: 30px;
    text-align: center;
    background-color: #363739;
    margin: 0;
    font-size: 20px;
    font-size: 300;
    line-height: 0;
  }
  
  .form__field__wrapper {
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 20px;
  }
  
  .form__field__wrapper label {
    font-size: 14px;
    line-height: 1.7em;
    margin-bottom: 10px;
    margin-top: 10px;
    margin-right: 5px;
    display: block;
  }
  
  .form__field__wrapper input {
    box-sizing: border-box;
    color: #fff;
    width: 100%;
    margin: 0;
    border: none;
    border-radius: 5px;
    padding: 16px 20px;
    font-size: 15px;
    background-color: #3f434a;
  }
  
  .form__field__wrapper button[type='submit'] {
    margin-top: 32px;
    cursor: pointer;
    background-color: #845695;
    border: none;
    color: #fff;
    font-size: 16px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px;
    border-radius: 5px;
    gap: 10px;
  }
  
  .form__field__wrapper button[type='submit'] svg {
    fill: #ede0e0;
    width: 20px;
  }
  
  .form__field__wrapper button{
    margin-top: 32px;
    cursor: pointer;
    background-color: #845695;
    border: none;
    color: #fff;
    font-size: 16px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px;
    border-radius: 5px;
    gap: 10px;
  }
  
  .form__field__wrapper button svg {
    fill: #ede0e0;
    width: 20px;
  }
  
  #avatar__selection {
    /*margin-height: 10px;*/
    display: flex;
    gap: 1em;
  }
  
  .avatar__option {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.3s;
    border: 2px solid #797a79;
  }
  
  .avatar__option__selected {
    border: 3px solid #845695;
  }
  