.button {
    font-family: sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
    padding: 9px 25px;
    background-color: rgba(0, 136, 169, 1);
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    text-overflow: ellipsis;
    width: 14rem;
    white-space: nowrap;
    overflow: hidden;
}

.button:hover {
    background-color: rgba(0, 136, 169, 0.8);
}

.button_active {
    font-family: sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
    padding: 9px 25px;
    background-color: rgba(0, 169, 136, 1);
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    text-overflow: ellipsis;
    width: 14rem;
    white-space: nowrap;
    overflow: hidden;
}

.button_active:hover {
    background-color: rgba(0, 169, 136, 0.8);
}

.newStyle{
    color: #fff;
    text-decoration: none;
    transition: 1s;
    border-bottom: 2px solid transparent;
    transition: all 0.3s ease-in-out;
    padding-bottom: 1px;
    display: block;
    background-color: #845695;
    padding: 8px 24px;
    font-size: 14px;
    font-weight: 500;
    border-radius: 5px;
}

.newStyle:hover {
    background-color: #845695;
}

.newStyle_active{
    color: #fff;
    text-decoration: none;
    transition: 1s;
    border-bottom: 2px solid transparent;
    transition: all 0.3s ease-in-out;
    padding-bottom: 1px;
    display: block;
    background-color: #1EC296;
    padding: 8px 24px;
    font-size: 14px;
    font-weight: 500;
    border-radius: 5px;
}

.newStyle_active:hover {
    background-color: #1B998B;
}

/*
#D2B537
*/
